name: ci

on:
  push:
    branches: [ main, develop ]
 
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:    
      - 
        name: Check out the repo
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/study-nest-auth:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

      # - 
      #   name: executing remote ssh commands using key
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.HOST }}
      #     username: ${{ secrets.USERNAME }}
      #     key: ${{ secrets.KEY }}
      #     port: ${{ secrets.PORT }}
      #     script: |
      #       docker rmi $(docker images -a|grep "<none>"|awk '{print $3}')
      #       docker pull ${{ secrets.DOCKERHUB_USERNAME }}/study-nest-auth
      #       docker stack deploy -c /home/ubuntu/app/study-nest-auth/docker-compose.yml app --with-registry-auth
            
 
